.vscode/**
.vscode-test/**
src/**
.gitignore
.vscode/**
tsconfig.json
**/*.ts
**/*.map
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.git/**
.DS_Store
*.vsix
